<process http-data="$ctrl.httpProcessing"></process>


<div layout="row" layout-align="center center" class="-height-100">
    <div class="form-container md-whiteframe-1dp">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Log in
            </div>
        </md-toolbar>

        <md-content layout-padding class="-mg-bottom--15">
            <form name="loginForm" ng-submit="$ctrl.doLogin()" novalidate class="-pd-top-0 -pd-left-0 -pd-right-0 -pd-bottom-8">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email address</label>
                    <input name="email" ng-model="$ctrl.credentials.login.email" required ng-pattern="/^.+@.+\..+$/">
                    <div ng-messages="loginForm.email.$error">
                        <div ng-message="required">
                            Email field is required
                        </div>
                        <div ng-message="pattern">
                            Field must look like email address
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="$ctrl.credentials.login.password" minlength="8"
                           required>
                    <div ng-messages="loginForm.password.$error" multiple>
                        <div ng-message="minlength">
                            The password has to be more than 8 characters
                        </div>
                        <div ng-message="required">
                            Password field is required
                        </div>
                    </div>
                    <div class="hint"><a ui-sref="restore" class="-reset-a grey-txt -fs-8">Forgot password?</a></div>
                </md-input-container>
                <div layout="row" layout-align="center center" class="-mg-bottom-70">
                    <md-button type="submit"
                               class="md-raised md-primary -width-100 -mg-0"
                               ng-disabled="loginForm.$invalid">
                        log in
                    </md-button>
                </div>
                <md-divider class="-mg-right--8 -mg-left--8"></md-divider>
                <div layout="row" layout-align="center center" class="-txt-al-c">
                    <a ui-sref="register" class="-fs-8 -reset-a grey-txt -width-100 -pd-top-10 -pd-bottom-10">Create an account</a>
                </div>
            </form>
        </md-content>
    </div>
</div>





