<process http-data="$ctrl.httpProcessing"></process>

<div layout="row" layout-align="center center" class="-height-100">
    <div class="form-container md-whiteframe-1dp">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Sign Up
            </div>
        </md-toolbar>

        <md-content layout-padding class="-mg-bottom--15">
            <form name="signupForm" novalidate ng-submit="$ctrl.signup()" class="-pd-top-0 -pd-left-0 -pd-right-0 -pd-bottom-8">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Company</label>
                    <input name="company" ng-model="$ctrl.credentials.signup.company" required>
                    <div ng-messages="signupForm.company.$error">
                        <div ng-message="required">
                            Company field is required
                        </div>
                    </div>
                </md-input-container>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First name</label>
                        <input name="firstName" ng-model="$ctrl.credentials.signup.firstName" required>
                        <div ng-messages="signupForm.firstName.$error">
                            <div ng-message="required">
                                First name field is required
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last name</label>
                        <input name="lastName" ng-model="$ctrl.credentials.signup.lastName" required>
                        <div ng-messages="signupForm.lastName.$error">
                            <div ng-message="required">
                                Last name field is required
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email address</label>
                    <input name="email" ng-model="$ctrl.credentials.signup.email" required
                           ng-pattern="/^.+@.+\..+$/">
                    <div ng-messages="signupForm.email.$error">
                        <div ng-message="required">
                            Email field is required
                        </div>
                        <div ng-message="pattern">
                            Field must look like email address
                        </div>

                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="$ctrl.credentials.signup.password"
                           minlength="8" required>
                    <div ng-messages="signupForm.password.$error" multiple>
                        <div ng-message="minlength">
                            The password has to be more than 8 characters
                        </div>
                        <div ng-message="required">
                            Password field is required
                        </div>

                    </div>
                </md-input-container>

                <div layout="row" layout-align="center center" class="-mg-bottom-70 -width-100">
                    <md-button type="submit"
                               class="md-raised md-primary -width-100 -mg-0"
                               ng-disabled="signupForm.$invalid">
                        sign me up!
                    </md-button>
                </div>

                <md-divider class="-mg-right--8 -mg-left--8"></md-divider>
                <div layout="row" layout-align="center center" class="-txt-al-c">
                    <span class="-fs-8 -pd-top-10 -pd-bottom-10">Already have an account?</span>
                    <a ui-sref="login" class="-fs-8 -reset-a grey-txt -pd-top-10 -pd-bottom-10">&nbsp;Sign In</a>
                </div>
            </form>
        </md-content>
    </div>
</div>





