<process http-data="$ctrl.httpProcessing"></process>

<div layout="row" layout-align="center center" class="-height-100">
    <div class="form-container md-whiteframe-1dp">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Reset password
            </div>
        </md-toolbar>

        <md-content layout-padding class="-mg-bottom--15">
            <ng-form name="restoreForm" novalidate>

                <div ng-if="!$ctrl.newPassword">
                    <div ng-if="!$ctrl.emailSent">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Email address</label>
                            <input name="email" ng-model="$ctrl.credentials.restore.email" required
                                   ng-pattern="/^.+@.+\..+$/">
                            <div ng-messages="restoreForm.email.$error">
                                <div ng-message="required">
                                    Email field is required
                                </div>
                                <div ng-message="pattern">
                                    Field must look like email address
                                </div>
                            </div>
                        </md-input-container>
                        <div layout="row" layout-align="center center" class="-mg-bottom-20">
                            <md-button type="submit"
                                       class="md-raised md-primary"
                                       ng-disabled="restoreForm.$invalid"
                                       ng-click="$ctrl.restoreMail()">
                                reset password
                            </md-button>
                            <md-button ui-sref="login" class="md-primary">
                                cancel
                            </md-button>
                        </div>
                    </div>
                    <div ng-if="$ctrl.emailSent">
                        <div layout="row" layout-align="center center" class="-mg-bottom-10">
                            <span>Check your email to reset your password.</span>
                        </div>
                        <div layout="row" layout-align="center center" class="-mg-bottom-20">
                            <md-button class="md-raised md-primary"
                                       ui-sref="login">
                                back to login
                            </md-button>
                        </div>
                    </div>
                </div>

                <div ng-if="$ctrl.newPassword">
                    <div ng-if="!$ctrl.passChanged">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>New password</label>
                            <input name="password"
                                   type="password"
                                   ng-model="$ctrl.credentials.restore.password"
                                   minlength="8"
                                   required>
                            <div ng-messages="restoreForm.password.$error" multiple>
                                <div ng-message="minlength">
                                    The password has to be more than 8 characters
                                </div>
                                <div ng-message="required">
                                    Password field is required
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Confirm new password</label>
                            <input name="confirmPassword"
                                   type="password"
                                   ng-model="$ctrl.credentials.restore.confirmPassword"
                                   minlength="8"
                                   required>
                            <div ng-messages="restoreForm.confirmPassword.$error" multiple>
                                <div ng-message="minlength">
                                    The password has to be more than 8 characters
                                </div>
                                <div ng-message="required">
                                    Password field is required
                                </div>
                            </div>
                        </md-input-container>
                        <div layout="row" layout-align="center center" class="-mg-bottom-20">
                            <md-button type="submit"
                                       class="md-raised md-primary"
                                       ng-disabled="$ctrl.credentials.restore.confirmPassword != $ctrl.credentials.restore.password || (!$ctrl.credentials.restore.confirmPassword || !$ctrl.credentials.restore.confirmPassword)"
                                       ng-click="$ctrl.restorePassword()">
                                Change password
                            </md-button>
                            <md-button ui-sref="login" class="md-primary">
                                cancel
                            </md-button>
                        </div>
                    </div>

                    <div ng-if="$ctrl.passChanged">
                        <div layout="row" layout-align="center center" class="-mg-bottom-10">
                            <span>Your password was successfully changed. Now you can try log in with new password</span>
                        </div>
                        <div layout="row" layout-align="center center" class="-mg-bottom-20">
                            <md-button class="md-raised md-primary"
                                       ui-sref="login">
                                back to login
                            </md-button>
                        </div>
                    </div>

                </div>

            </ng-form>
        </md-content>
    </div>
</div>





