<process http-data="$ctrl.httpProcessing"></process>

<div layout="row" layout-align="center center" class="-height-100">
    <div class="form-container md-whiteframe-1dp">
        <md-content layout-padding class="-mg-bottom--15">
            <div ng-if="$ctrl.registrationSuccess">
                <div layout="row" layout-align="center center" class="-mg-bottom-10">
                    <span>Your account was successfully confirmed. Now you can log in.</span>
                </div>
                <div layout="row" layout-align="center center" class="-mg-bottom-20">
                    <md-button class="md-raised md-primary"
                               ui-sref="login">
                        login
                    </md-button>
                </div>
            </div>

            <div ng-if="$ctrl.registrationReject">
                <div layout="row" layout-align="center center" class="-mg-bottom-10 -txt-al-c">
                    <span>ERROR!<br>Your account is expired for confirmation.<br>Try to sign up.</span>
                </div>
                <div layout="row" layout-align="center center" class="-mg-bottom-20">
                    <md-button class="md-raised md-primary"
                               ui-sref="register">
                        sign up
                    </md-button>
                </div>
            </div>
        </md-content>
    </div>
</div>


