<process http-data="$ctrl.httpProcessing"></process>

<div layout="row" layout-align="center center" class="-mg-top-50">
    <div class="form-container md-whiteframe-1dp">
        <md-content layout-padding>
            <form name="settingsForm" novalidate ng-cloak="">
                <div class="accordion-group">
                    <div class="accordion-item md-whiteframe-1dp">
                        <div layout="row" layout-align="center center" class="accordion-heading" ng-click="$ctrl.isChMailOpen = !$ctrl.isChMailOpen">
                            Change email
                        </div>
                        <md-divider></md-divider>
                        <div class="accordion-content" ng-class="{active: $ctrl.isChMailOpen}">
                            <md-input-container class="md-block -mg-bottom-0" flex-gt-sm>
                                <label>Email address</label>
                                <input name="email" ng-model="$ctrl.settings.email" ng-pattern="/^.+@.+\..+$/">
                                <div ng-messages="settingsForm.email.$error">
                                    <div ng-message="pattern">
                                        Field must look like email address
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="accordion-item md-whiteframe-1dp">
                        <div layout="row" layout-align="center center" class="accordion-heading" ng-click="$ctrl.isChNameOpen = !$ctrl.isChNameOpen">
                            Change name
                        </div>
                        <md-divider></md-divider>
                        <div class="accordion-content" ng-class="{active: $ctrl.isChNameOpen}">
                            <md-input-container class="md-block -mg-bottom-0" flex-gt-sm>
                                <label>First name</label>
                                <input name="firstName" ng-model="$ctrl.settings.firstName">
                            </md-input-container>
                            <md-input-container class="md-block -mg-bottom-0" flex-gt-sm>
                                <label>Last name</label>
                                <input name="lastName" ng-model="$ctrl.settings.lastName">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="accordion-item md-whiteframe-1dp">
                        <div layout="row" layout-align="center center" class="accordion-heading" ng-click="$ctrl.isChPasswordOpen = !$ctrl.isChPasswordOpen">
                            Change password
                        </div>
                        <md-divider></md-divider>
                        <div class="accordion-content" ng-class="{active: $ctrl.isChPasswordOpen}">
                            <md-input-container class="md-block -mg-bottom-0" flex-gt-sm>
                                <label>Old password</label>
                                <input type="password" name="oldPassword" ng-model="$ctrl.settings.oldPassword" minlength="8">
                                <div ng-messages="settingsForm.oldPassword.$error">
                                    <div ng-message="minlength">
                                        The password has to be more than 8 characters
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block -mg-bottom-0" flex-gt-sm>
                                <label>New password</label>
                                <input type="password" name="newPassword" ng-model="$ctrl.settings.newPassword" minlength="8">
                                <div ng-messages="settingsForm.newPassword.$error">
                                    <div ng-message="minlength">
                                        The password has to be more than 8 characters
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row" layout-align="center center" class="-mg-bottom-15 -mg-top-15">
                        <md-button type="submit"
                                   class="md-raised md-primary -width-100 -mg-0"
                                   ng-disabled="settingsForm.$invalid || settingsForm.$pristine"
                                   ng-click="$ctrl.saveChanges(settingsForm)">
                            save changes
                        </md-button>
                    </div>

                </div>
            </form>
        </md-content>
    </div>
</div>