<process http-data="$ctrl.httpProcessing"></process>

<div layout="column" layout-align="center center" layout-padding>



    <div layout="row" layout-align="center center" ng-cloak class="-width-100">
        <md-contact-chips flex="70"
                          class="-width-100"
                          ng-model="$ctrl.blacklist.users"
                          md-contacts="$ctrl.searchUsers($query)"
                          md-contact-name="name"
                          md-contact-email="email"
                          md-contact-image="image"
                          md-require-match="true"
                          md-highlight-flags="i"
                          placeholder="Search user">
        </md-contact-chips>

        <md-button flex="30" class="md-raised md-primary -fs-10 -width-100" ng-click="$ctrl.addToBlacklist()"
                   ng-disabled="!$ctrl.blacklist.users.length">
            add to blacklist
        </md-button>
    </div>

    <h3>BLACKLISTED USERS</h3>
    <div layout="row" layout-align="center center" ng-cloak class="-width-100">
        <md-list flex="100" class="fixedRows" ng-show="!$ctrl.processing">
            <md-list-item class="md-2-line contact-item fade-in-out" ng-repeat="user in $ctrl.blacklist.blacklisted">
                <img ng-src="{{user.image}}" class="md-avatar" alt="{{user.name}}"/>
                <div class="md-list-item-text compact">
                    <h3>{{user.name}}</h3>
                    <p>{{user.email}}</p>
                </div>

                <md-button class="md-icon-button abs-right" ng-click="$ctrl.removeFromBlacklist(user._id)">
                    <i class="material-icons">close</i>
                    <md-tooltip>
                        Remove {{user.name}} from Blacklist
                    </md-tooltip>
                </md-button>
            </md-list-item>
        </md-list>
    </div>
    <div layout="row" layout-align="center center" class="fade-in-out" ng-show="!$ctrl.blacklist.blacklisted.length && !$ctrl.processing" ng-cloak="" layout-padding="50">
        No blacklisted users
    </div>
    <div layout="row" layout-align="center center">
        <md-progress-circular ng-if="$ctrl.processing" class="fade-in-out" md-diameter="40"></md-progress-circular>
    </div>
</div>

