<process http-data="$ctrl.httpProcessing"></process>

<div layout="column" layout-align="center center" layout-padding>


    <div layout="row" layout-align="center center" ng-cloak class="-width-100">
        <div class="accordion-group" flex>
            <div class="accordion-item md-whiteframe-1dp">
                <div layout="row" layout-align="center center" class="accordion-heading"
                     ng-click="$ctrl.isWatchAsOpen = !$ctrl.isWatchAsOpen">
                    Watch application as ...
                </div>
                <md-divider></md-divider>
                <div class="accordion-content" ng-class="{active: $ctrl.isWatchAsOpen}">
                    <div layout="row" layout-align="center center" ng-cloak class="-width-100">
                        <div layout="row" layout-align="center center" ng-cloak class="-width-100">
                            <div ng-class="{
                        'disable-contact-chip' : $ctrl.watchAsObj.users.length
                        }" flex>
                                <md-contact-chips
                                        class="-width-100"
                                        ng-model="$ctrl.watchAsObj.users"
                                        md-contacts="$ctrl.searchUsers($query)"
                                        md-contact-name="name"
                                        md-contact-email="email"
                                        md-contact-image="image"
                                        md-require-match="true"
                                        md-highlight-flags="i"
                                        placeholder="Search user">
                                </md-contact-chips>

                                <md-checkbox ng-model="$ctrl.isWatching" ng-change="$ctrl.watchAs($ctrl.watchAsObj.users[0])" class="md-primary watch-as-checkbox abs-right">
                                    Watch as me
                                </md-checkbox>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="accordion-item md-whiteframe-1dp">
                <div layout="row" layout-align="center center" class="accordion-heading"
                     ng-click="$ctrl.isAssignRoleOpen = !$ctrl.isAssignRoleOpen">
                    Assign admin role
                </div>
                <md-divider></md-divider>
                <div class="accordion-content" ng-class="{active: $ctrl.isAssignRoleOpen}">
                    <div layout="row" layout-align="center center" ng-cloak class="-width-100">
                        <div ng-class="{
                        'disable-contact-chip' : $ctrl.admins.users.length
                        }" flex="70">
                            <md-contact-chips
                                    class="-width-100"
                                    ng-model="$ctrl.admins.users"
                                    md-contacts="$ctrl.searchUsers($query)"
                                    md-contact-name="name"
                                    md-contact-email="email"
                                    md-contact-image="image"
                                    md-require-match="true"
                                    md-highlight-flags="i"
                                    placeholder="Search user">
                            </md-contact-chips>
                        </div>

                        <md-button flex="30" class="md-raised md-primary -fs-10 -width-100" ng-click="$ctrl.assignAdmin()"
                                   ng-disabled="!$ctrl.admins.users.length">
                            assign admin role
                        </md-button>

                    </div>

                </div>
            </div>

        </div>
    </div>

    <h3>LIST OF ADMINISTRATORS</h3>

    <div layout="row" layout-align="center center" ng-cloak class="-width-100">
        <md-list flex="100" class="fixedRows" ng-show="!$ctrl.processing">
            <md-list-item class="md-2-line contact-item fade-in-out" ng-repeat="user in $ctrl.admins.administrators">
                <img ng-src="{{user.image}}" class="md-avatar" alt="{{user.name}}"/>
                <div class="md-list-item-text compact">
                    <h3>{{user.name}}</h3>
                    <p>{{user.email}}</p>
                </div>


                <div class="abs-right c-label" ng-if="user.email == $ctrl.loggedUser.email">
                    IT'S ME
                </div>

            </md-list-item>
        </md-list>
    </div>

    <div layout="row" layout-align="center center">
        <md-progress-circular ng-if="$ctrl.processing" class="fade-in-out" md-diameter="40"></md-progress-circular>
    </div>
</div>