<header>
    <md-toolbar ng-class="{'watch-as-bg' : $ctrl.loggedUser.watching}">
        <div class="md-toolbar-tools">
            <md-button ui-sref="all" class="home-link -fs-10"
                       ng-class="{
                            'md-raised md-primary': $ctrl.activeTab('home')
                        }">
                <i class="material-icons crutch-icon">email</i>
                Mailer
            </md-button>

            <span flex></span>

            <span class="-fs-10 -txt-upcase" ng-class="{'watch-as-underline' : $ctrl.loggedUser.watching}">
                <span ng-if="$ctrl.loggedUser.watching">Watching as: </span>
                {{$ctrl.loggedUser.firstName}}
                {{$ctrl.loggedUser.lastName}}
            </span>
            <span flex></span>

            <div class="desktop-navigation" hide-xs hide-sm>

                <md-button class="-fs-10"
                           ng-repeat="btn in $ctrl.navBtns"
                           ui-sref="{{btn.sref}}"
                           ng-class="{
                            'md-raised md-primary': $ctrl.activeTab(btn.sref)
                           }"
                           ng-if="btn.access">
                    {{btn.name}}
                </md-button>

                <md-button ng-click="$ctrl.logout()" class="-fs-10">
                    logout
                </md-button>
            </div>

            <md-menu hide-gt-sm>
                <md-button class="md-icon-button" ng-click="$ctrl.openMenu($mdOpenMenu, $event)">
                    <i md-menu-origin class="material-icons -abs-center">menu</i>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item ng-repeat="btn in $ctrl.navBtns"
                                  ng-if="btn.access">
                        <md-button class="-fs-10"
                                   ui-sref="{{btn.sref}}"
                                   ng-class="{
                                        'md-raised md-primary' : $ctrl.activeTab(btn.sref)
                                    }">
                            {{btn.name.toUpperCase()}}
                        </md-button>
                    </md-menu-item>

                    <md-menu-divider></md-menu-divider>

                    <md-menu-item>
                        <md-button ng-click="$ctrl.logout()" class="-fs-10">
                            LOGOUT
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </div>

    </md-toolbar>
</header>

