/*.emails-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;
}

email-card {
  width: 48%;
}*/

/*.email-card {
  border: 1px solid black;
}*/

.email-card {
  .email-header {
    outline: none !important;
    cursor: pointer;
    padding: 10px;
    background: rgb(63,81,181);
    color: white;
    &.readed {
      background: rgb(238, 238, 238);
      color: black;
      &.ng-enter {
        animation: fadeIn .5s;
      }
      &.ng-leave {
        animation: fadeOut .5s;
      }
    }
  }
  .email-collapse {
    max-height: 0;
    overflow: hidden;
    transition: all .5s ease-in-out 0s;
    opacity: 0;
    background: white;
    &.active {
      opacity: 1;
      max-height: 5000px;
    }
    .content {
      padding: 10px;
      .email-info {
        border-bottom: 1px solid #d8d8d8;
      }
      .expand-more {
        cursor: pointer;
        outline: none;
        color: #717171;
        &:hover {
          color: #282828;
        }
      }

      .attachment {
        border-top: 1px solid #d8d8d8;
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.grey-txt {
  color: #555;
}
