<div class="email-card -mg-bottom-5 md-whiteframe-3dp" ng-cloak>
    <header layout="row" class="email-header"
            ng-class="{'readed': $ctrl.emailData.read || $ctrl.emailData.creator.email == $ctrl.loggedUser.email}"
            ng-click="$ctrl.openEmail = !$ctrl.openEmail; (!$ctrl.emailData.read && $ctrl.emailData.creator.email != $ctrl.loggedUser.email) ? $ctrl.toggleRead($ctrl.emailData) : '';">
        <div class="sender" flex="70">
            <span>{{$ctrl._s.capitalize($ctrl.emailData.subject)}}</span>
            <span>
                <md-progress-circular ng-show="$ctrl.toggleProcessing" class="md-warn email-header-spin" md-diameter="10"></md-progress-circular>
            </span>
        </div>
        <div class="date -txt-al-r" flex="30">
            {{$ctrl.emailData.createdAt | dateConverter}}
        </div>
    </header>
    <div class="email-collapse" ng-class="{
                                        'active' : $ctrl.openEmail
                                    }">
        <div class="content">
            <div layout="row" class="-pd-bottom-5 email-info">
                <div flex="80">
                    <div layout="column">
                        <div class="-fs-9">
                            <span>from: </span>
                            <span class="-fw-700">{{$ctrl._s.capitalize($ctrl.emailData.creator.firstName)}}</span>
                            <span class="-fw-700">{{$ctrl._s.capitalize($ctrl.emailData.creator.lastName)}}</span>
                            <span class="-fs-8 grey-txt">&#60{{$ctrl.emailData.creator.email}}&#62</span>
                        </div>
                        <div class="-fs-9">
                            <span>to: </span>
                            <span ng-repeat="recipient in $ctrl.emailData.recipients track by $index">
                                <span>{{$ctrl._s.capitalize(recipient.firstName)}}<span
                                        ng-show="$index != $ctrl.emailData.recipients.length - 1">,</span> </span>
                            </span>
                            <span class="-fs-8 expand-more like-link"
                                  ng-click="$ctrl.expandMoreRecipients = !$ctrl.expandMoreRecipients">
                                <span ng-show="!$ctrl.expandMoreRecipients">
                                    see details
                                </span>
                                <span ng-show="$ctrl.expandMoreRecipients">
                                    hide details
                                </span>
                            </span>
                            <div class="-pd-top-5" layout="column" ng-show="$ctrl.expandMoreRecipients">
                                <span ng-repeat="recipient in $ctrl.emailData.recipients">
                                     - <span>{{$ctrl._s.capitalize(recipient.firstName)}} {{recipient.lastName}}</span>
                                    <span class="-fs-8 grey-txt">&#60{{recipient.email}}&#62</span>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="-txt-al-r" flex="20">
                    <span class="-fs-9">{{$ctrl.emailData.createdAt | dateConverter:true}}</span>
                </div>
            </div>
            <div>
                <div class="-pd-top-10 -pd-bottom-10" ng-bind-html="$ctrl.emailData.body"></div>
                <div class="attachment -pd-top-15 -pd-bottom-5" ng-if="$ctrl.emailData.attachment">
                    <a ng-href="{{$ctrl.emailData.attachment}}" target="_blank">See attached file</a>
                </div>
            </div>
        </div>


    </div>
</div>