<process http-data="$ctrl.httpProcessing"></process>

<div layout="row">
    <div layout="vertical" layout-fill flex="20" class="-min-w-160">
        <md-sidenav
                class="md-sidenav-left"
                md-is-locked-open="true"
                md-whiteframe="4"
                flex="100">
            <md-content layout-padding layout="column">
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ng-click="$ctrl.showComposeDialog($event)">
                        compose
                    </md-button>
                </div>
                <div layout="column">
                    <md-button class="-txt-al-l" ng-repeat="btn in $ctrl.sidebarButtons"
                               ng-class="{
                            'md-raised': $ctrl.activeTab('/{{btn.type}}')
                        }" ng-click="$ctrl.changeTab(btn.type)">
                        {{btn.type}}
                    </md-button>
                </div>
            </md-content>
        </md-sidenav>
    </div>


    <div layout="column" layout-padding layout-align="start none" flex class="emails-container">

        <div layout="row" layout-align="center center">
            <form name="search_form" ng-submit="$ctrl.changeTab($ctrl.$state.$current.name)" flex>
                <div class="icon-input -mg-right-20 md-whiteframe-1dp" flex>
                    <input type="text" flex="100"
                           autofocus
                           focus-on="focusMe"
                           ng-model="$ctrl.searchString">
                    <div class="icon -left-i -cursor-pointer" ng-click="$ctrl.changeTab($ctrl.$state.$current.name)">
                        <i class="material-icons">search</i>
                    </div>
                    <div class="icon -right-i -cursor-pointer" ng-click="$ctrl.searchOptions = !$ctrl.searchOptions">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </div>
                    <div class="toggleable-block md-whiteframe-1dp" ng-if="$ctrl.searchOptions">
                        <div class="toggleable-block-wrap">
                            Search by:
                            <div layout="column" class="-mg-top-10">
                                <md-checkbox ng-model="$ctrl.searchOpts.bySender" class="md-primary -mg-bottom-10">
                                    sender
                                </md-checkbox>
                                <md-checkbox ng-model="$ctrl.searchOpts.byRecipients" class="md-primary">
                                    recipients
                                </md-checkbox>
                            </div>
                            <div layout="row" layout-align="end center">
                                <md-button class="md-raised md-primary"
                                           ng-click="$ctrl.changeTab($ctrl.$state.$current.name)">
                                    search
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <div flex="20">
                <md-select class="md-whiteframe-1dp"
                           aria-label="sort"
                           ng-model="$ctrl.selectedSort"
                           ng-model-options="{trackBy: '$value.id'}"
                           md-on-close="$ctrl.changeTab($ctrl.$state.$current.name)">
                    <md-option ng-value="sort" ng-repeat="sort in $ctrl.sortVars">
                        {{sort.title}}
                    </md-option>
                </md-select>
            </div>
        </div>


        <div infinite-scroll="$ctrl.loadEmails($ctrl.$state.$current.name)"
             infinite-scroll-disabled="$ctrl.processing"
             ng-cloak>
            <div class="fade-in-out" ng-repeat="email in $ctrl.data.list">
                <email-card email-data="email" logged-user="$ctrl.loggedUser"></email-card>
            </div>
        </div>

        <div class="fade-in-out" layout="row" layout-align="center center"
             ng-show="!$ctrl.data.list.length && !$ctrl.processing" ng-cloak="">
            No results
        </div>

        <div layout="row" layout-align="center center">
            <md-progress-circular ng-show="$ctrl.processing" md-diameter="40"></md-progress-circular>
        </div>
    </div>
</div>

