<md-dialog>
    <form ng-cloak name="composeMessageForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New message</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.$mdDialog.cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="-of-h" layout-padding>
            <div class="-pd-0" ng-class="{
                        'disable-contact-chip' : $ctrl.emailMessage.recipients.length >= 5
                        }">
                <md-contact-chips
                        ng-model="$ctrl.emailMessage.recipients"
                        md-contacts="$ctrl.searchRecipients($query)"
                        md-contact-name="name"
                        md-contact-email="email"
                        md-contact-image="image"
                        md-require-match="true"
                        md-highlight-flags="i"
                        placeholder="To">
                </md-contact-chips>
            </div>
            <md-input-container flex class="compose-subject -pd-0">
                <input type="text" name="subject" ng-model="$ctrl.emailMessage.subject" placeholder="Subject" required>
                <div ng-messages="composeMessageForm.subject.$error">
                    <div ng-message="required">
                        Subject field is required
                    </div>
                </div>
            </md-input-container>

            <div class="md-dialog-content -pd-top-0">
                <trix-editor angular-trix
                             trix-initialize="$ctrl.trixInitialize(e, editor)"
                             trix-attachment-add="$ctrl.trixAttachmentAdd(e, editor)"
                             ng-model="$ctrl.emailMessage.body">
                </trix-editor>
                <div layout="row">
                    <div class="md-body-2" ng-if="$ctrl.emailMessage.attachment">
                        {{$ctrl.emailMessage.attachment.name}}
                    </div>
                    <input type="file"
                           ngf-select="$ctrl.checkFile($file)"
                           class="ng-hide"
                           id="input-file-id"
                           ng-model="$ctrl.emailMessage.attachment"/>
                    <label for="input-file-id" class="md-button">
                        <span ng-if="!$ctrl.emailMessage.attachment">Upload file</span>
                        <span ng-if="$ctrl.emailMessage.attachment" ng-click="$ctrl.emailMessage.attachment = null">
                            Upload another file
                        </span>
                        <md-tooltip md-direction="bottom">
                            IMAGE or PDF file less than 5MB
                        </md-tooltip>
                    </label>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" class="-pd-right-25">
            <md-button flex="100" class="md-raised md-primary"
                       ng-click="$ctrl.$mdDialog.hide()"
                       ng-disabled="composeMessageForm.$invalid || !$ctrl.emailMessage.recipients.length || $ctrl.emailMessage.recipients > 5 || !$ctrl.emailMessage.body">
                Send
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>