.fade-in-out {
  &.ng-enter {
    animation: fadeIn .7s;
  }
  &.ng-leave {
    animation: fadeOut .7s;
  }
}

.card-repeat{
  position: relative;
}

.card-repeat.ng-move,
.card-repeat.ng-enter,
.card-repeat.ng-leave {
  transition: all ease .2s;
}

.card-repeat.ng-leave.ng-leave-active,
.card-repeat.ng-move,
.card-repeat.ng-enter {
  opacity:0;
  transform: translateY(50%);
}

.card-repeat.ng-leave,
.card-repeat.ng-move.ng-move-active,
.card-repeat.ng-enter.ng-enter-active {
  opacity:1;
  transform: translateY(0);
}