.dynamic-message-box {
  position: fixed;
  top: 15px;
  right: 15px;
  width: auto;
  min-height: 100px;
  padding: 15px 37px 15px 15px;
  border-radius: 5px;
  color: white;

  z-index: 99999999999;

  &.ng-enter {
    animation: bounceInRight .5s;
  }
  &.ng-leave {
    animation: bounceOutRight .5s;
  }
  &.success {
    background: $success-bg;
  }
  &.error {
    background: $reject-bg;
  }

  .close-c-toastr {
    position: absolute;
    right: 5px;
    top: 11px;
    cursor: pointer;
    outline: none !important;
  }
}

.processing {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  background: rgba(0, 0, 0, 0.2);
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}