$max-margin: 200;
$max-padding: 200;

@mixin margin-top-list {
  $i: -100;

  @while $i <= $max-margin {
    .-mg-top-#{$i} {
      margin-top: $i + px !important;       //-mg-top-20 ::: margin-top: 20px
    }
    @if $i < 10 {
      $i: $i + 1;
    } @else {
      $i: $i + 5;
    }
  }
}

@mixin margin-bottom-list {
  $i: -100;

  @while $i <= $max-margin {
    .-mg-bottom-#{$i} {
      margin-bottom: $i + px !important;
    }
    @if $i < 10 {
      $i: $i + 1;
    } @else {
      $i: $i + 5;
    }
  }
}

@mixin margin-left-list {
  $i: -100;

  @while $i <= $max-margin {
    .-mg-left-#{$i} {
      margin-left: $i + px !important;
    }
    @if $i < 10 {
      $i: $i + 1;
    } @else {
      $i: $i + 5;
    }
  }
}

@mixin margin-right-list {
  $i: -100;

  @while $i <= $max-margin {
    .-mg-right-#{$i} {
      margin-right: $i + px !important;
    }
    @if $i < 10 {
      $i: $i + 1;
    } @else {
      $i: $i + 5;
    }
  }
}

@mixin margin-list {
  $i: -100;

  @while $i <= $max-margin {
    .-mg-#{$i} {
      margin: $i + px !important;
    }
    @if $i < 10 {
      $i: $i + 1;
    } @else {
      $i: $i + 5;
    }
  }
}

/////////PADDING//////////

@mixin padding-top-list {
  $i: 0;

  @while $i <= $max-padding {
    .-pd-top-#{$i} {
      padding-top: $i + px !important;
    }
    $i: $i + 5;
  }
}

@mixin padding-bottom-list {
  $i: 0;

  @while $i <= $max-padding {
    .-pd-bottom-#{$i} {
      padding-bottom: $i + px !important;
    }
    $i: $i + 5;
  }
}

@mixin padding-left-list {
  $i: 0;

  @while $i <= $max-padding {
    .-pd-left-#{$i} {
      padding-left: $i + px !important;
    }
    @if $i < 10 {
      $i: $i + 1;
    } @else {
      $i: $i + 5;
    }
  }
}

@mixin padding-right-list {
  $i: 0;

  @while $i <= $max-padding {
    .-pd-right-#{$i} {
      padding-right: $i + px !important;
    }
    $i: $i + 5;
  }
}

@mixin padding-list {
  $i: 0;

  @while $i <= $max-padding {
    .-pd-#{$i} {
      padding: $i + px !important;
    }
    $i: $i + 5;
  }
}

.-mg-auto {
  margin: 0 auto !important;
}

.-no-padding {
  padding: 0 !important;
}

@include margin-top-list;
@include margin-bottom-list;
@include margin-left-list;
@include margin-right-list;
@include margin-list;

@include padding-top-list;
@include padding-bottom-list;
@include padding-left-list;
@include padding-right-list;
@include padding-list;


