.-height-100 {
  height: 100%;
}

.-width-100 {
  width: 100%;
}

.grey-txt {
  color: $grey-txt !important;
}

.-reset-a {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;

  &:hover,
  &:active,
  &:visited,
  &:link {
    color: inherit;
    text-decoration: none;
  }
}

.-txt-al-c {
  text-align: center;
}

.-txt-al-l {
  text-align: left;
}

.-txt-al-r {
  text-align: right;
}

.-of-h {
  overflow: hidden;
}

.-of-x-h {
  overflow-x: hidden;
}

.-of-y-h {
  overflow-y: hidden;
}

.-txt-upcase {
  text-transform: uppercase;
}

.abs-right {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.-abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.-cursor-pointer {
  cursor: pointer !important;
}

.-min-w-160 {
  min-width: 160px !important;
}


